* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: rgb(17, 17, 23);
}

body,
input,
button,
textarea {
  font: 500 1rem Roboto, sans-serif;
  color: white;
}

button,
input {
  border: 0;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: Roboto, sans-serif;
  color: white;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

ul,
ol,
li,
a {
  list-style: none;
  text-decoration: none;
}
