.container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 4rem;
  background: #212125;
  box-shadow: -1px 1px 13px -3px rgba(0, 0, 0, 0.65) !important;

  .menuMobile {
    display: none;
  }

  .title {
    display: flex;
    align-items: center;

    h4 {
      font-size: 1.5rem;
    }

    .titleSuno {
      color: #f73ec2;
      margin-left: 0.35rem;
    }

    @media (max-width: 388px) {
      h4 {
        font-size: 1.2rem;
      }
    }
  }

  .groups {
    display: flex;
    align-items: center;

    a {
      margin-left: 1.4rem;
      margin-right: 2.5rem;
      color: white;
    }

    button {
      border: 0;
      background: none;
      display: flex;
      align-items: center;

      &:hover {
        color: #f73ec2;
        transition: 0.5s;
      }

      svg {
        margin-left: auto;
      }
    }
  }

  @media (max-width: 600px) {
    .menuMobile {
      display: flex;

      button {
        background: transparent;
        border: 0;
        outline: none;

        svg {
          display: flex;
          align-items: center;
        }
      }
    }

    .groups {
      a {
        display: none;
      }
    }
  }
}

.mobileLinksDisable {
  display: none;
}

.mobileLinksActive {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 7rem;
  background: #212125;
  display: flex;

  a {
    padding: 1rem 1rem;
    color: white;
  }
}
