.container {
  width: 100%;
  height: 9.5rem;
  background: #212125;
  display: flex;
  justify-content: center;

  .speed {
    button {
      border: 0;
      background: none;
      position: absolute;
      right: 5%;
      top: 10%;
    }
  }

  .inputBlock {
    display: flex;
    align-items: center;
    margin-top: 0.979rem;

    input {
      width: 100%;
      border: 0;
      outline: none;
      background: transparent;
      border-bottom: 1px solid #f73ec2;
      line-height: 2rem;
    }

    svg {
      margin-left: 1rem;
    }
  }
}
